{% include 'header.html' %}

<div class="container" role="main">
    <div class="page-header">
        <h1>Spellchecker</h1>
        <h2>Welcome to Markus's KMOM10 Spellchecker!</h2>
        <p>word to find: </p>
        {% include 'forms/word-find.html' %}

        {% if word_to_find %}
            <p>
                {{ word_to_find }}
                {% if word_found %}
                    found!
                {% else %}
                    not found!
                {% endif %}
            </p>
        {% endif %}
    </div>
</div>

{% include 'footer.html' %}